#menu{
    color: #0A0908;
}

#carrusel{
    background-color: #b80c09;
}

@font-face {
    font-family: 'Sk-Modernist BOLD';
    src: url(tipografías/Sk-Modernist-Bold.otf) format('opentype');
    
}

@font-face {
    font-family: 'Sk-Modernist Regular';
    src: url(tipografías/Sk-Modernist-Regular.otf) format('opentype');
    
}

.navbar{
    background-color: #0A0908;
}

#menuBurger{
    color: #f2f3f4;
}

.menuAbierto{
    padding-top: 25%;
    padding-left: 10%;
    padding-bottom: 10%;
    margin-bottom: 10%;
}



.miNavbar{

    transition: background-color 0.3s ease;
}

.navbar .navbar-toggler[aria-expanded="true"]::before{

    content: "";
    position:absolute;
    inset: 0;
    background-color: #f2f3f4;
    z-index: -1;

}



.link{
    color: #b80c09;
}

.hamburguesa{
    color: transparent;
}

.NUEVO{
   color: #f2f3f4;
   padding-top: 10%;
}

.nuevoTAM{
    color: #f2f3f4;
    padding-top: 5%;
}

.portadita{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    width: 90%;
}

.btn{
    padding-left: 5%;
    padding-right: 5%;
}

.fecha{
    color: #f2f3f4;
}

.fechaTAM{
    color: #f2f3f4;
    padding: 5%;
    margin-bottom: 5%;
}

body{
    background-color: #b80c09;
    font-family: 'Sk-Modernist BOLD', sans-serif;
}

.card{
    border: none;
}

.img-logo {
    width: 50px;
}


.fondo {
    position: relative;
}

.novedades {
    background-color: #b80c09;
}

.novedades_posicion {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 20%;
    height: 15%;
}

@media (max-width: 768px){
    .novedades_tam img{
        max-width: 60%;

    }
}

.novedades_tam {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;

}

.aelvportada{
    padding-top: 15%;
    padding-left: 25%;
    padding-right: 25%;

}

.cardAELV{
    padding-top: 15%;
    padding-bottom: 15%;
    color: #f2f3f4;
    padding-left: 10%;
    padding-right: 5%;
}

.portadavivienne{
    padding-top: 15%;
    padding-left: 25%;
    padding-right: 25%;
}
.cardVIVIENNE{
    padding-top: 15%;
    padding-bottom: 15%;
    color: #f2f3f4;
    padding-left: 10%;
    padding-right: 5%;
}

.btn{
    background-color: #0A0908;
    color: #f2f3f4;
    border-radius: 0;
}

.btn-suscribir{
    background-color: #b80c09;
    color: #f2f3f4;
    border-radius: 0;
}

.btn:hover{
    background-color: #f2f3f4;
    border-color: #f2f3f4;
    color: #0A0908;
}

.carousel-img{
    max-height: 870px;
    object-fit: contain;
    width: auto;
}



.carrusel1{
    position: relative;
    padding: 5%;
}



.tarjeta1{
    background-color: #b80c09;
}

.tarjeta2{
    background-color: #b80c09;
}

.botonVerTodo{
    margin: 5%;
}

.footer{
    background-color: #0A0908;
   padding: 5%;
}

.footer span{
    color: #f2f3f4;
}

.form-ancho{
    width: 100%;
    max-width: 400px;
}

.form{
    border-radius: 0;
    border-color: #b80c09;
}

.h5{
    color: #f2f3f4;
}